/* App.css */

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333; /* Text color */
}

h1 {
  text-align: center;
  color: #007bff; /* Heading color */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

/* Dark theme */
body.dark-mode {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
}

h1.dark-mode {
  color: #007bff; /* Heading color */
}

th.dark-mode,
td.dark-mode {
  border-color: #555; /* Table border color */
}

th.dark-mode {
  background-color: #444; /* Table header background color */
}

tr.dark-mode:nth-child(even) {
  background-color: #444; /* Even row background color */
}

tr.dark-mode:hover {
  background-color: #555; /* Hovered row background color */
}

/* Interactive colors */
button {
  padding: 10px;
  border: none;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Hovered button background color */
}

input,
input:placeholder {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff; /* Input background color */
  color: #333; /* Input text color */
}

input:focus {
  border-color: #007bff; /* Focused input border color */
}
